{
	# When using Cloudflare Tunnel, Caddy listens on HTTP only.
	# The tunnel handles TLS termination.
	auto_https off
}

:80 {
	# Webapp
	reverse_proxy /caldav/* radicale:5232 {
		header_up X-Script-Name /caldav
	}

	reverse_proxy webapp:3000
}
